.navbarContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 15vh;
  padding: 1.5vh 3rem;
}

.creatorDataContainer {
  display: flex;
  align-items: center;
}

.creatorDataContainer img {
  object-fit: contain;
  max-height: 10vh;
  max-width: 10%;
}

.randomFlex {
  display: flex;
}

.creatorNameContainer {
  /* composes: randomFlex; */
}

.creatorNameContainer p:first-of-type {
  font-size: 1.25rem;
  font-weight: 700;
}

.creatorNameContainer p:last-of-type {
  opacity: 0.85;
}

.navList {
  flex: 2;
  list-style: none;
  display: flex;
  gap: 1.25rem;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}
